chromadb==0.4.24
langchain==0.2.5
langchain-chroma==0.1.1
langchain-community==0.2.5
langchain-core==0.2.7
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
langsmith==0.1.77
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.9.0
mpmath==1.3.0
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
pymongo==4.7.2
pypdf==4.2.0
PyPDF2==3.0.1
python-dotenv==1.0.1
streamlit==1.34.0
streamlit-authenticator==0.3.2
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-navigation-bar==3.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tiktoken==0.7.0
tokenizers==0.19.1
toml==0.10.2
